numpy==1.22
matplotlib
numpy-ros
libtmux
opencv-contrib-python
conan==1.59
sympy
scipy
pyyaml
ftfy
regex
tqdm
torch
torchvision
customtkinter
seaborn
pyrealsense2
mujoco
robosuite
PyOpenGL==3.1.4
roboticstoolbox-python
h5py
pyautogui
